@font-face {
  font-family: 'Forum Regular';
  src: url('../../assets/fonts/');
  src: url('../../assets/fonts/?#iefix') format('embedded-opentype'), url('../../assets/fonts/forum-regular-webfont.woff2') format('woff2'), url('../../assets/fonts/forum-regular-webfont.woff') format('woff'), url('../../assets/fonts/forum-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
