extends ../pageTemplate

block variables
    - var title = 'Index Page'

block content
    h1 Hello! This is front page.
    .test
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, voluptas.
        .vg
            p Lorem ipsum dolor sit amet.
